/************************* header *************************/
header {
    height: 75px;
    background-color: #ffff;
    letter-spacing: 3px;
    padding: 2px 10%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-sizing: border-box
}

/************************* navbar *************************/
.navbar-link {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.navbar-link li {
    display: inline-block;
    padding: 6px 15px;
}

/************************* changing sizes *************************/
@media (max-width:870px) {
    header {
        height: 100px;
    }
}

@media (max-width:550px) {
    header {
        height: 140px;
    }
}