/************************* BODY *************************/
body {
    font-family: 'Karla', sans-serif;
    margin: 100px 0px 0 0;
    background-color: #4C5364;
}

.container {
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/***** title/heading *****/
#header-bracket {
    height: max-content;
    margin-bottom: 30px;
}

#header-bracket:before {
    content: " ";
    width: 10px;
    height: 105px;
    position: absolute;

    border: 0px solid #EEC170;
    border-top: 3px solid #EEC170;
    border-left: 3px solid #EEC170;
    border-bottom: 3px solid #EEC170;
}

h1 {
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#header-bracket h2 {
    font-size: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 15px;
}

/***** sections *****/
.bracket {
    width: max-content;
    padding: 10px;
    border: 3px solid #EEC170;
}

.bracket h2 {
    margin: 0px;
}

.content {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.content h3 {
    width: max-content;
    border-bottom: 3px solid #EEC170;
}

/***** links *****/
/* 
link effect source: 
  https://www.sliderrevolution.com/resources/css-link-hover-effects/
*/
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid #EEC17058;
}

a:hover {
    border-bottom-color: #EEC170;
}

/***** table *****/
.table {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.table-header {
    margin: 2px;
    border: 2px solid #EEC170;
    width: 295px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table-cell {
    width: 295px;
    border: 2px solid #EEC170;
    margin: 2px;
    height: 440px;
}

.table-cell ul {
    padding-left: 25px;
    margin-right: 5px;
}

/***** images *****/
.figures {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.single-figure {
    display: inline;
    margin: 5px;
    padding: 7px;
    text-align: center;
    height: min-content;
}

.single-figure img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    vertical-align: middle;
}

.single-figure p {
    width: 100%;
    vertical-align: middle;
}

/***** slideshows *****/
#tablet-phone {
    display: flex;
    flex-wrap: flex;
}

/* #tablet-phone div {
    width: 50%;
} */

/************************ handles changes resizing changes ************************/
@media (max-width:870px) {
    body {
        margin-top: 125px;
    }
}

@media (max-width:550px) {
    body {
        margin-top: 165px;
    }
}

@media (max-width:757px) {
    #header-bracket:before {
        height: 175px;
    }
}